<!doctype html>
<html ng-app="chat">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.11.1.js"></script> -->
    <script src="client.js"></script>
    <script src="controllers/channelController.js"></script>
    <script src="services/channelFactory.js"></script>
    <script src="directives/formDirective.js"></script>
    <title>Chat</title>
  </head>
  <body>
    <div ng-controller="chanCtrl">
      <div>
        <input ng-repeat="channel in channels"
        type="button" value="{{channel.name}}"
        ng-click="connectChannel(channel.name)"/>
      </div>
      <input type="button" value="Envoyer" ng-click="sendMessage('dddddd')"/>
    </div>
    <!-- <ul id="messages"></ul> -->
    <!-- <form-directive name="Send" buttons="buttonForm" submitText="ToSend" submit="sendMessage"/> -->

  </body>
</html>
